.slider-pagination {
  .swiper-pagination-bullet {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 5px;
    background: transparent;
    opacity: 1;

    @media (max-width: $media-max-xxl) {
      width: 24px;
      height: 24px;
    }

    &.swiper-pagination-bullet-active {
      &:before {
        transform: scale(1);
      }

      &:after {
        opacity: 1;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px solid $white;
      opacity: 0.38;
      transform: scale(0);
      transition: $tr_time $tr_type;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $white;
      opacity: 0.38;
      transform: translate(-50%, -50%);
      transition: $tr_time $tr_type;

      @media (max-width: $media-max-xxl) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
