<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>@@title</title>
    <meta name="description" content="@@description" />
    <meta property="og:title" content="@@title" />
    <meta property="og:description" content="@@description" />
    <meta property="og:image" content="./img/preview.jpg" />
    <meta property="og:image:alt" content="preview image" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.mywebsite.com/page" />
    <link rel="icon" type="image/png" href="./img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="./img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./img/favicon/favicon-96x96.png" sizes="96x96" />
    <meta name="theme-color" content="#222222" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Thin.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-ExtraLight.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="./assets/fonts/Montserrat/Montserrat-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
  </head>
</html>
