$vertical-padding-xl: $base * 10;
$vertical-padding-lg: $base * 6;
$vertical-padding-md: $base * 4;
$vertical-padding-sm: $base * 2;

$horizontal-padding-xl: $base * 7;
$horizontal-padding-lg: $base * 6;
$horizontal-padding-md: $base * 4;
$horizontal-padding-sm: $base * 2;
